.square {
    height: 38vh;
    width: 80vw;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover .icon path {
    fill: #007bff; /* Change this to the color you want */
}


.browse-btn {
    width: 8rem;
}

.p-table{
    width: 50rem;
    height: 15rem;
}

.input-field {
    width: 80vw;
}

.upload-btn {
    position: absolute;
    right: 6rem;
    bottom: 4rem;
}

.upload-status {
    margin-top: 1rem;
    color: #007bff; /* Blue color for success message */
    font-weight: bold;
   }
   .space30{
    height: 30px;
   }
   
   .upload-icon{
    position: relative;
    bottom: 40%;
   }