@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.card {
    font-family: 'Inter', sans-serif;
    width: 339px;
    height: 339px;
    background-color: #e6e6e6;
    border: none;
    /* box-shadow: 10px 15px 50px 10px rgb(81, 81, 81); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.card-text{
    margin-top: 20px;
    font-size: 15px;
    justify-content: space-around;
    padding: 10px;
}